@font-face {
  font-family: FuturaBookC;
  src: url('./asserts/fonts/FuturaBookC_Regular.woff2')
      format('woff2');         
}

@font-face {
  font-family: FuturaDemiC;
  src: url('./asserts/fonts/FuturaDemiC.woff2')
      format('woff2');         
}

html {
  font-size: 10px;
  font-family: FuturaBookC;
}

body {
  margin: 0;
  background-image: url(./asserts/bg-slide1.png);
  background-size: cover;
}

#body.second-slide {
  background-image: url(./asserts/bg-slide2.png);
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
}

.header {
  height: 90px;
  font-size: 1.6rem;
  font-family: FuturaDemiC;
  color: #444444;
}

.header-container {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__controls,
.header__nav-container,
.header__navigation>ul {
  display: flex;
  flex-direction: row;
}

h1 {
  margin: auto 0;
  font-family: 'Playfair Display', serif;
  font-size: 2.4rem;
  color: #333333;
}

h1::after,
.header__navigation ul:last-child::after,
form[name="header__search"]::after {
  margin: 0 40px;
  content: "|";
  opacity: 0.2;
  color: #000000;
}

form[name="header__lang-switcher"] {
  display: flex;
  flex-direction: row;
}

form[name="header__lang-switcher"] label {
  display: block;
  margin: auto 10px auto 0;
  height: 28px;
  width: 45px;
  text-align: center;
  line-height: 30px;
}

form[name="header__lang-switcher"] input {
  display: none;
}

form[name="header__lang-switcher"] input:checked+label {
  background-color: rgba(74, 100, 36, 0.1);
  border-radius: 5px;
}

.header__navigation ul {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header__navigation ul li {
  display: block;
  margin: auto 40px auto 0;
  list-style: none;
}

.header__navigation>ul>li>a,
.footer__contents ul>li>a,
menu>li>a {
  color: #444444;
  text-decoration: none;
}

.header__navigation>ul>li>a:visited,
.footer__contents ul>li>a:visited,
menu>li>a:visited {
  color: #444444;
}

.header__navigation ul:last-child::after {
  margin: auto 0;
}  

form[name="header__search"] {
  display: block;
  height: 90px;
}

.header-button {
  border: none;
  background: none;
  padding: 0;
}

.header__search_initial {
  height: 20px;
  width: 20px;
  margin: 35px 20px;
}

form[name="header__search"]::after {
  margin: 0;
  position: relative;
  bottom: 4.5px;
  font-size: 1.6rem;
}

.header__menu_initial {
  margin-left: 40px;
}

.swiper-container {
  width: 100%;
  height: 720px;
}

.swiper-wrapper {
  width: 1200px;
}

.swiper-slide {
  height: 720px;
  color: #000000;
}

#scrollbar {
  height: 4px;
  position: absolute;
  top: 730px;
  left: calc(50% - 50px);
  width: 200px;
  background-color: rgba(66, 90, 32, 0.38);
}

#scrollbar>.swiper-scrollbar-drag {
  background-color: #425A20;
}

#swiper-container {
  height: 740px;
  background-color: rgba(0, 0, 0, 0);
}

.swiper-pagination-index {
  font-size: 40rem;
  color: #425A20;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '';
}

.swiper-button-next {
  position: absolute;
  top: 732px;
  right: calc(50vw - 250px);
}

.swiper-button-prev {
  position: absolute;
  top: 732px;
  left: calc(50vw - 150px);
}

.swiper-pagination-index {
  z-index: 99;
  position: absolute;
  top: 804px;
  font-family: 'Zilla Slab', serif;
  color: #000000;
  font-size: 2.4rem;
}

.swiper-pagination-index.current {
  left: calc(50vw - 100px);
}

.swiper-pagination-index.total {
  right: calc(50vw - 200px);
}

.slide__text-contents {
  height: 110px;
  width: 630px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.slide__article {
  width: 290px;
}

.slide__heading {
  margin: 260px auto 42px auto;
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 9.6rem;
  color: #425A20;
}

.slide__subheading {
  margin-bottom: 16px;
  font-family: FuturaDemiC;
  font-weight: 600;
  font-size: 1.8rem;
}

.slide__article p {
  font-family: FuturaBookC;
  font-size: 1.4rem;
  line-height: 18px;
}

.slide__controls {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
}

.slide__button {
  width: 200px;
  height: 46px;
  border-radius: 5px;
  border: none;
  font-family: FuturaDemiC;
  font-size: 1.8rem;
}

.slide__button_colored {
  position: relative;
  background: #597D4E;
  color: #ffffff;
  transform: rotate(2.09deg);
  z-index: 1;
}

.slide__button_trasparent {
  background: none;
  line-height: 46px;
}

#pag {
  height: 0;
}

.shape {
  position: relative;
  box-sizing: border-box;
  border: #000000 0.5px solid;
  transform: rotate(-2.09deg);
  z-index: 2;
}

.slide__button-shape {
  border-radius: 5px;
}

.slide__button_trasparent svg {
  position: relative;
  top: 9px;
}

.footer {
  width: 100%;
  height: 70px;
  position: relative;
  bottom: 30px;
  z-index: 110;
}

.footer__contents ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  font-family: FuturaDemiC;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
}

.footer__contents ul>li {
  margin-right: 35px;
}

.menu__contents {
  display: none;
}

.menu__contents.menu-displayed {
  display: block;
  width: 100%;
  height: 640px;
}

.menu__list {
  margin-top: 136px;
  padding: 0;
  list-style: none;
  color: #444444;
  font-family: Playfair Display;
  font-style: normal;
  font-size: 4.8rem;
  line-height: 64px;
  text-align: center;
}

.menu__list li:not(:last-child) {
  margin-bottom: 50px;
}

.footer__contents.menu-displayed address {
  display: block;
  width: max-content;
  margin: 0 auto;
}

#body.menu-displayed {
  background-image: url(./asserts/bg-menu.png);
}

.header__navigation.menu-displayed,
.header__search.menu-displayed,
main.menu-displayed,
#pag.menu-displayed,
.header__menu_initial.menu-displayed svg.initial,
.header__menu_initial svg.on-menu,
.header__menu_initial span.on-menu {
  display: none;
}

.header__menu_initial.menu-displayed svg.on-menu,
.header__menu_initial.menu-displayed span.on-menu {
  display: inline;
  transition: ease-in 0.3s;
}

span.on-menu {
  position: relative;
  bottom: 6px;
  padding-right: 10px;
  font-family: FuturaDemiC;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}

#menu-list .menu__onHover-image {
  position: absolute;
  width: 217px;
  height: 316px;
}

#menu-list .menu__onHover-image:nth-child(1),
#menu-list .menu__onHover-image:nth-child(3),
#menu-list .menu__onHover-image:nth-child(5) {
  left: 20vw;
  transform: rotate(4.35deg);
}

#menu-list .menu__onHover-image:nth-child(2),
#menu-list .menu__onHover-image:nth-child(4) {
  right: 20vw;
  transform: rotate(-5.66deg);
}

#menu-list .menu__onHover-image:nth-child(4),
#menu-list .menu__onHover-image:nth-child(5) {
  bottom: 10vh;
}